body {
  box-sizing: border-box;
  background: #2D728F;
  font-family: 'Roboto', sans-serif;
}

header {
  font-family: 'Oxygen', sans-serif;
}

.dept-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.col {
  border-right: 1px solid black;
  padding: 1rem;
  flex: 1;
}

.col h2 {
  text-align: center;
}

button {
  border: 1px solid black;
  box-shadow: none;
}

.dept-heading {
  height: 6rem;
}
button {
  border-radius: 8px;
}
.fire {
  background: #7a000c
}

.fire:hover {
  background: #520008;
}

.remove {
  background: #9DCBBA;
}

.remove:hover {
  background: #6CB298;
}
