body {
  box-sizing: border-box;
}

.dept-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.col {
  border-right: 1px solid black;
  padding: 1rem;
}

.col h2 {
  text-align: center;
}

button {
  border: 1px solid black;
  box-shadow: none;
}

.fire {
  background: rgb(168, 2, 2);
}

.remove {
  background: gray;
}
